Repository rom-dem/test-10-7: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": "eslint --max-warnings=0",
  "*.{js,jsx,css,json,md}": "prettier --write"
}

Add audit and testing workflows
  .github/workflows/audit.yaml
Due: none

Add audit and testing workflows
  .github/workflows/audit.yaml
  .github/workflows/testing.yaml
  package.json
Due: prettier --write

Install styled-components and create GlobalStyles
  package-lock.json
  package.json
  src/styles/GlobalStyles.jsx
Due: eslint --max-warnings=0, prettier --write

Rest styles.Install styled-components,mui and create theme
  package-lock.json
  package.json
  src/index.jsx
  src/styles/GlobalStyles.jsx
  src/styles/theme.js
Due: eslint --max-warnings=0, prettier --write

Connect to api with axios
  package-lock.json
  package.json
  src/api/connectApi/apiEndpoints.js
  src/api/connectApi/connectApi.js
Due: eslint --max-warnings=0, prettier --write

Add getPhones function
  src/api/getPhones/getPhones.js
Due: eslint --max-warnings=0, prettier --write

Add useGetPhones custom hook. Add QueryClientProvider to index.jsx
  src/hooks/useGetPhones/useGetPhones.js
  src/index.jsx
Due: eslint --max-warnings=0, prettier --write

Add mocks for testing. Add sonar github workflow
  .github/workflows/sonar.yml
  package-lock.json
  package.json
  sonar-project.properties
  src/mocks/handlers.js
  src/mocks/phonesMocks.js
  src/mocks/server.js
Due: eslint --max-warnings=0, prettier --write

Test getPhones function
  package.json
  src/api/getPhones/getPhones.test.js
  src/mocks/phonesMocks.js
Due: eslint --max-warnings=0, prettier --write

Test useGetPhones hook
  src/hooks/useGetPhones/useGetPhones.test.js
Due: eslint --max-warnings=0, prettier --write
